.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-main {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  margin-left: 220px;
  padding: 40px;
  padding-top: 120px;
  background-color: #F5F5F5;
  min-height: calc(100vh - 60px); /* sesuaikan dengan tinggi header */
}


/* .content{
    flex: 1;
    padding: 20px;
    background-color: #F5F5F5;
    min-height: calc(100vh - 55px);
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    background-color: #f4f6f8;
    font-size: 14px;
    color: #2d3748;
}