.header-gh {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.judulgh {
    font-size: 48px;
    font-weight: 600;
    font-family: 'Montserrat';
}

.btn-tambah {
    display: inline-flex;
    align-items: center;
    background-color: #eaa652;
    color: black;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    gap: 8px;
    transition: 0.2s;
}

.btn-tambah i {
    font-size: 25px;
}

.card-list-gh {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gh-card {
    position:relative;
    background-color: #d9d9d9d9;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
}

.card-header-gh {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.title-gh {
    display: flex;
    gap: 12px;
    align-items: center;
}

.card-image-gh img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.card-conten-gh {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 24px;
    font-family: 'Montserrat';
}

.info-row {
    display: flex;
    gap: 20px;
    align-items: center;
}

.info-label {
    width: 120px;
    font-weight: 600;
    font-size: 16px;
}

.info-value {
    flex: 1;
    font-size: 16px;
}

.nama-gh {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
}

.id-gh {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
}

.nama-gh, .id-gh {
    margin: 0;
    padding: 0;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
}

.info-gh {
    display: flex;
    gap: 12px;
    font-size: 16px;
    margin-bottom: 8px;
}

.status-gh {
    padding: 4px 10px;
    border-radius: 6px;
    font-weight: 600;
}

.status-gh.aktif {
    background-color: #4caf50;
    color: black;
}

.status-gh.perbaikan{
    background-color: #8d8d8d;
    color: black;
}
.status-gh.tidak-aktif{
    background-color: #cd4a4a;
    color: black;
}

.card-action-gh {
    /* position: absolute; */
    top: 0;
    right: 0;
    display: flex;
    /* background-color: #f5f5f5; */
    gap: 8px;
    z-index: 10;
}

.card-action-gh .btn {
    font-size: 10px;
    font-weight: 600;
    padding: 6px 10px;
    border-radius: 6px;
    border: none;
    font-family: 'Montserrat';
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hapus-btn {
    background-color: #cd4a4a;
    color: black;
}

.edit-btn {
    background-color: #fff;
    color: black;
    border: 1px solid #ccc;
}

.card-body-gh {
    display: flex;
    gap: 24px;
    align-items: center;
    flex-wrap: nowrap;
}

.gh-card-link {
    text-decoration: none;
    text-align: none;
    color: inherit;
    display: block;
}

.gh-card-link:hover .gh-card {
    text-decoration: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    transition: 0.2s;
}

.btn-tambah:hover {
    background-color: #d18f40;
    color: black;
    cursor: pointer;
    transform: translateY(-2px);
    transition: 0.2s;
}

.edit-btn:hover {
    background-color: #f0f0f0;
    color: black;
    cursor: pointer;
    transform: translateY(-2px);
    transition: 0.2s;
}

.hapus-btn:hover {
    background-color: #b33a3a;
    color: black;
    cursor: pointer;
    transform: translateY(-2px);
    transition: 0.2s;
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 100px);
}

.modal-content{
    margin: auto;
    max-width: 700px;
    width: 100%;
    border-radius: 10px;
}

.select-wrapper {
    position: relative;
}

.select-wrapper select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 40px;
}

.select-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 16px;
    color: #555;
    transition: transform 0.2s ease;
}

.select-icon.rotate{
    transform: translateY(-50%) rotate(180deg);
}