*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}
/* .header{
        background: #7ca55d;
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 100px;
        color: white;
        font-family: 'Montserrat';
    } 
    BIKINAN NAPI */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #7ca55d;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Montserrat';
    z-index: 1100; /* lebih tinggi dari sidebar */
}

.header-kiri{
    display: flex;
    align-items: center;
    gap: 45px;
    }

.header-kanan{
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    }

.logo-tempat{
    display: flex;
    align-items: center;
    gap: 20px; /*45px;*/
    }

.icon-logo{
    width: auto;
    height: 100px;
    object-fit: contain;
    display: block;
}

.judul-apk{
    font-size: 35px;
    font-weight: 600;
    color: white;
    letter-spacing: 0.8px;
    line-height: 1.2;
    }

.icon-user{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    object-fit: contain;
    padding: 2px;
    }

.email-user{
    font-size: 14px;
    font-weight: 500;
    color: white;
    }  