.login-bg {
    position: relative;
    min-height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
}


.overlay{
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.35);
  pointer-events: none;
}

.login-container{
    position: relative;
    z-index: 1;
    height: 400px;
    width: 415px;
    max-width: calc(100% - 40px);
    background-color: white;
    padding: 32px 28px;
    border-radius: 12px;
    text-align: left;

}

.login-container h2 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 600;
    color: black;
}

.error {
    background: #ffeaea;
    color: #c0392b;
    padding: 10px 12px;
    font: 14px;
    margin-bottom: 16px;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 35px;
}

.form-group label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
    color: #000;
}


.form-group input {
    height: 40px;
    padding: 0 12px;
    border-radius: 8px;
    font-size: 14px;
    font-family: 'Montserrat';
    transition: all 0.2s ease;
}

.form-group input:focus {
    outline: none;
    border-color: #000;
    box-shadow: 0 0 0 2px rgba(124, 165, 93, 0.2);
}

.btn-login {
    width: 100%;
    height: 40px;
    background-color: #eaa652;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.1s ease;
    margin-top: 35px;
}

.btn-login:hover{
    background: #FFC987;
}

.btn-login:active{
    transform: scale(0.98);
}