.panen-main{
    max-width:1100px;
    margin:auto;
    padding:20px
}

.panen-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px
}

.btn-tambah{
    padding:8px 16px;
    border:none;
    border-radius:6px;
    background:#EAA652;
    color:#fff
}

.alert-success{
    background:#d4edda;
    padding:10px;
    border-radius:6px;
    margin-bottom:15px
}

.panen-card{
    background:#fff;
    border-radius:8px;
    box-shadow:0 2px 8px rgba(0,0,0,.08);
    overflow:hidden
}

.panen-action{
    padding:12px;
    border-bottom:1px solid #eee
}

#searchInput{width:250px;padding:8px 12px;border-radius:6px;border:1px solid #ccc}

table{width:100%;border-collapse:collapse;font-size:14px}
thead{background:#f8f9fa}
th{padding:12px;text-align:left;border-bottom:2px solid #ddd}
td{padding:12px;border-bottom:1px solid #eee}
tbody tr:hover{background:#f5f7f8}

.aksi{
    display:flex;
    gap:6px
}

.aksi button{
    cursor:pointer;
    /* font-size:16px */
}


.btn-edit{
    background:#4CAF50;
    color:#fff;
    border:none;
    padding:5px 8px;
    border-radius:4px
}

.btn-delete{
    background:#dc3545;
    color:#fff;
    border:none;
    padding:5px 8px;
    border-radius:4px
}

.modal-overlay{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.4);
    justify-content:center;
    align-items:center
}

.modal-card{
    background:#fff;
    padding:20px;
    border-radius:6px;
    width:100%;
    max-width:400px

}

.modal-card input,.modal-card select{
    width:100%;
    padding:8px;
    margin-bottom:8px
}

#deleteModal .btn-delete,
#deleteModal .btn-cancel{
    width:48%;
    padding: 10px;
    border-radius:4px;
    font-size: 14px;
}

#deleteModal .btn-delete:hover{
    background:#b52a37;
    cursor: pointer;
}

.btn-submit{
    background:#EAA652;
    border:none;
    color:#fff;
    padding:8px;
    border-radius:4px;
    width:100%
}

.btn-cancel{
    background:#6c757d;
    border:none;
    color:#fff;
    padding:8px;
    border-radius:4px;
    width:100%;
    margin-top:5px
}
.btn-cancel:hover{
    background:#5a6268;
    cursor: pointer;
}